body {
    text-align: center;
    padding-top: 4rem;
}

img {
    width: 300px;
    padding: 2rem;
    outline: 5px double black;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

em {
    font-size: 2rem;
}